<app-banner></app-banner>
<app-loading-animation *ngIf="loading"></app-loading-animation>
<div id="movie-card-container">
  <mat-card *ngFor="let movie of movies; let i=index;" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} />
    <mat-card-actions>
      <button (click)="openDescriptionDialog(movie)" mat-button color="primary">Description</button>
      <button (click)="openGenreDialog(movie.Genre)" mat-button color="primary">Genre</button>
      <button (click)="openDirectorDialog(movie.Director)" mat-button color="primary">Director</button>
      <mat-icon *ngIf="!movie.isFavorite" (click)="addFavorite(movie._id)">favorite_border</mat-icon>
      <mat-icon *ngIf="movie.isFavorite" (click)="removeFavorite(movie._id)">favorite_filled</mat-icon>


    </mat-card-actions>
  </mat-card>
</div>